<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>All My Musical🎷</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
		<!-- Js -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') }}"></script> -->
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&family=Limelight&display=swap" rel="stylesheet">

    </head>

	<body>
	<!-- 헤더이미지 -->
    <section id="hero-area">
        <img class="img-responsive" src="{{ url_for('static', filename='images/header.jpeg')}}" alt="">
    </section>
	<!-- 헤더 시작-->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="#">
                                    <span class="header-title">All My Musical🎷</span>
                                  </a>

                            </div>


                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" id="top-nav">
                                <li><a href="#hero-area">Comming Soon</a></li>
                                <li><a href="#price">Performing Now</a></li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
	</nav>
    <!-- 헤더 끝 -->

    <!-- 커밍순 시작 -->
    <section id="slider">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h1><span>Comming Soon</span></h1>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/06/0400012106_165720_01.448.gif" onclick="window.open('/carousel_ex')" alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/06/0400012106_165779_01.554.gif" onclick="window.open('/carousel_billy')"  alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/06/0400012106_165875_01.410.gif" onclick="window.open('/carousel_hades')"  alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/06/0400012106_166404_01.832.gif" alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/05/0400012105_165033_01.041.gif" alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/07/0400012107_166835_01.149.gif" alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/07/0400012107_166852_01.252.gif" alt="">
                            </div>
                            <div class="item">
                                <img class="item-img" src="http://ticketimage.interpark.com/PlayDictionary/DATA/PlayDic/PlayDicUpload/040001/21/07/0400012107_166583_01.800.gif" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 커밍순 끝 -->

    <!-- 공연차트 시작
    ============================ -->
    <section id="price">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"><span>PERFORMING NOW</span></h1>
                    </div>
                    <div class="container2">
                        <div class="chart">
                            <div class="chart-row chart-period">
                                <div class="chart-row-item">
                                </div>
                                <span>7월</span><span></span><span></span>
                                <span></span><span>8월</span><span></span><span></span>
                                <span></span><span>9월</span><span></span><span></span><span></span>
                                <span>10월</span><span></span><span></span><span></span>
                            </div>
                            <div class="chart-row chart-lines">
                                <span></span><span></span><span></span>
                                <span></span><span></span><span></span>
                                <span></span><span></span><span></span>
                                <span></span><span></span><span></span>
                                <span></span><span></span><span></span>
                                <span></span>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">드라큘라</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-one" onclick="window.open('/carousel_ex','드라큘라','width=1200,height=700,location=no,status=no,scrollbars=yes');">~2021.08.01</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">레드북</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-two" onclick="window.open('02_redbook.html','레드북','width=1200,height=700,location=no,status=no,scrollbars=yes');">~2021.08.22</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">비틀쥬스</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-three" onclick="window.open('03_beetlejuice.html','비틀쥬스','width=1200,height=700,location=no,status=no,scrollbars=yes');">2021.07.06~2021.08.08</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">마리 앙투아네트</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-four" onclick="window.open('04_ma.html','마리 앙투아네트','width=1200,height=700,location=no,status=no,scrollbars=yes');">2021.07.13~2021.10.03</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">광화문 연가</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-five" onclick="window.open('05_ghm.html','광화문 연가','width=1200,height=700,location=no,status=no,scrollbars=yes');">2021.07.16~2021.09.05</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">헤드윅</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-six" onclick="window.open('06_hedwig.html','헤드윅','width=1200,height=700,location=no,status=no,scrollbars=yes');">2021.07.30~2021.10.31</li>
                                </ul>
                            </div>
                            <div class="chart-row">
                                <div class="chart-row-item">팬텀</div>
                                <ul class="chart-row-bars">
                                    <li class="chart-li-seven" onclick="window.open('07_phantom.html','팬텀','width=1200,height=700,location=no,status=no,scrollbars=yes');"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->


    </section><!-- #공연차트 close -->



	</body>
</html>